* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

main{
  position: absolute;
  width: 100vw;
  color: white;
  z-index: 99;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: none;
  /* display: grid;
  grid-template-columns: repeat(12, 1fr); */
}
canvas{
  position: fixed;
  top: 0;
  left: 0;
}

body {
  color: #fff;
}

header {
  /* background: linear-gradient(to right, #000428, #004e92); */
  padding: 20px;
  text-align: center;
  color: white;
  /* border-bottom: 3px solid #004e92; */
}

header h1 {
  font-size: 2.5rem;
}

header p {
  font-size: 1.2rem;
  margin-top: 10px;
}
section {
  padding: 40px;
  text-align: center;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

section p {
  font-size: 1.1rem;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto;
}

section ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

section ul li {
  font-size: 1.1rem;
  padding: 10px;
  /* background-color: #002244; */
  margin: 10px auto;
  max-width: 600px;
  border-radius: 5px;
}

.missions .mission {
  /* background-color: #002244; */
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
}

.mission h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

section.animation {
  background-color: #0a0a0a;
}
footer {
  padding: 20px;
  /* background-color: #001f3f; */
  text-align: center;
  font-size: 1rem;
  color: #fff;
  /* border-top: 3px solid #004e92; */
}

.tooltip {
    position: absolute; /* Ensure the tooltip is positioned relative to its parent */
    width: 200px; /* Set a fixed width */
    height: auto; /* You can set a fixed height if needed */
    padding: 10px; /* Add some padding for better spacing */
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    color: white; /* Text color */
    border-radius: 5px; /* Rounded corners */
    pointer-events: none; /* Prevent mouse events from interfering */
    white-space: normal; /* Allow line breaks */
    overflow: hidden; /* Hide any overflowing content */
    z-index: 10; /* Ensure tooltip is on top */
    display: none; /* Initially hidden */
}

#search {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 8px;
    z-index: 10; /* Asegura que esté sobre el canvas */
}

#searchBar {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 200px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    z-index: 10;
}

#dropdown {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    width: 200px;
    max-width: 200px;
    z-index: 1;
    margin-top: 70px;
    margin-left: 10px;
    max-height: 150px;
    overflow-y: auto;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}
